<legend>Registration</legend>

<div class="row-fluid">
  <div class="span5 offset3">
    <%= form_for(:session, url: :sessions) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Not a member? <%= link_to "Sign up now!", :signup %></p>
  </div>
</div>
